{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Kreator numerów skrzyń</legend>

        <div class="form-group">
            {{ form.kontrakt.label(class="form-control-label") }}
            {% if form.kontrakt.errors %}
                {{ form.kontrakt(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.kontrakt.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.kontrakt(class="form-control form-control-lg") }}
            {% endif %}
        </div>
                
        <div class="form-group">
                    {{ form.ilość.label(class="form-control-label") }}
                    {% if form.ilość.errors %}
                        {{ form.ilość(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ilość.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ilość(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset><br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>   
{% endblock content %}