<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="static/fontello/css/fontello.css">

    {% if title %}
        <title>UniBaza - {{ title }}</title>
    {% else %}
        <title>UniBaza</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand mr-4" href="{{url_for('plan')}}"><i class="icon-building"></i> <span style="color: rgb(190, 225, 255); font-weight: bold;">Uni</span>Baza</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto"> 
              <a class="nav-item nav-link" href="{{url_for('plan')}}"><i class="icon-calendar icon-large"></i> Plan</a>
              <a class="nav-item nav-link" href="{{url_for('contracts_set')}}"><i class="icon-dropbox"></i> Skrzynie</a>
              <!-- <a class="nav-item nav-link" href="{{url_for('wydruki')}}"><i class="icon-print"></i> Wydruki</a> -->
              <!-- <a class="nav-item nav-link" href="{{url_for('queue')}}"><i class="icon-sort-by-attributes"></i> </i>Zadania</a>
              <a class="nav-item nav-link" href="{{url_for('hundeggery')}}"><i class="icon-cog"></i> Hundeggery</a> -->
            </div>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">{{ current_user.username }}</a>
                <a class="nav-item nav-link" href="{{ url_for('wyloguj') }}">Wyloguj się</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Zaloguj się</a>
              {% endif %}
            </div>
        </div>
      </nav>
    </header>  
      
    <main role="main" class="container-fluid">
      <div class="row">
         <div class="col-sm-0 col-md-1">
         </div>
        <div class="col-sm-12 col-md-10">
          <!-- To jest kod odpowiedzialny za wyświetlanie wiadomości flash na górze każdej strony -->
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        <button type="button" id="close_button" class="float-end" data-bs-dismiss="alert">
                          <span aria-hidden="true">X</span>
                        </button>
                        {{ message }}                          
                      </div>
                  {% endfor %}
              {% endif %}  
          {% endwith %}
          <!-- To jest kod odpowiedzialny za wyświetlanie wiadomości flash na górze każdej strony -->
          
          {% block content %}{% endblock %}
        </div>
                    
        <div class="col-sm-0 col-md-1">
        </div>
      </div>
   </main>

    <!-- Optional JavaScript -->
    
    <!-- <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}
     
</body>
</html>